/* Crear variables para colores y margenes tipografias .... Y CAMBIAR A SCSS */

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.game-table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 728px;
  width: 375px;
  border: 1px solid #e5e5e5;
}

.game-table {
  border-collapse: collapse;
  margin: 0 16px;
}

.new-game-button {
  margin: 14px 10px 0 10px;
  padding: 10px;
  font-size: 1em;
  background-color: #29ddb9;
  color: white;
  border: none;
  cursor: pointer;
  width: 343px;
  height: 48px;
  font-family: "Montserrat", serifs;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.23px;
  border-radius: 3px;
}

.new-game-button:disabled {
  background-color: #dfe0e0;
  color: white;
  cursor: not-allowed;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

tr {
  display: flex;
  gap: 8px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 107px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(121, 122, 122, 0.4);
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}

.x-cell {
  background-color: #e5fffa;
}

.o-cell {
  background-color: #fff3f2;
}

.x-cell-alternative {
  background-color: #faf3db;
}

.o-cell-alternative {
  background-color: #edf0f5;
}

img {
  width: 56px;
  height: 56px;
}

button:hover {
  opacity: 1;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.winner {
  background-color: yellow;
}

.game-title {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.25px;
  margin-top: 24px;
  width: 100%;
}

.game-subtitle {
  font-family: "Montserrat", serif;
  font-size: 12px;
  font-weight: 700;
}

.game-subtitle--start {
  margin-top: 24px;
  margin-bottom: 26px;
}

.game-subtitle--next-player {
  margin-top: 21px;
  margin-bottom: 23px;
}

.player-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
}

.game-subtitle-separator {
  width: 344px;
  height: 1px;
  background-color: #e5e5e5;
}

.table-info-container {
  margin-top: 16px;
  width: 100%;
}
.toggle-images-container {
  display: flex;
  justify-content: end;
}

.toggle-images-button {
  font-family: "Montserrat", serif;
  font-size: 11px;
  font-weight: 700;
  color: #29ddb9;
  margin-right: 16px;
  height: 32px;
  width: 109px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #29ddb9;
  cursor: pointer;
}

.info-title {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.25px;
  height: 24px;
  text-align: center;
  margin-top: 6px;
}

.info-score-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: -20px;
}

.info-score-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.icon {
  height: 32px;
  width: 32px;
}

.score-item {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.25px;
  height: 24px;
}


.win-dialog {
  border-radius: 8px;
  border: 1px solid #29ddb9;
}

.dialog-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dialog-title {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.25px;
}

.win-dialog-image {
  height: 32px;
  width: 32px;
}

i.dialog-icon {
  height: 56px;
  width: 100%;
  font-size: 56px;
  display: flex;
  justify-content: center;
  color: #29ddb9;
}

.dialog-subtitle {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.win-dialog-button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.win-dialog-button {
  font-family: "Montserrat", serif;
  font-size: 11px;
  font-weight: 700;
  color: #29ddb9;
  height: 32px;
  width: 109px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #29ddb9;
  cursor: pointer;
}


